/*------------------------------------------
Temp à retirer une fois le projet terminé.
------------------------------------------*/
.redline {
    border: solid 1px red;
}

.greenline {
    border: solid 1px green;
}

/** {*/
/*    box-shadow: 0 0 0 3px red inset;*/
/*}*/


/*------------------------------------------
General
------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/sunset.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    color: black;
}

a, .link-button {
    text-decoration: none;
}

.link-button {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: solid 1px grey;
    border-radius: 4px;
    cursor: pointer;
    transition: all 1s ease;
}

.link-button:hover {
    background-color: #eed7b3;
}

.center-link, .center-button {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.center-link{
    margin-top: 5%;
}


/*------------------------------------------
Searchbar
------------------------------------------*/
input {
    border: none;
    width: 300px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    transition: all 1.5s ease;
}

.search.active {
    justify-content: center;
    height: 200px;
}


/*------------------------------------------
Spinning loading
------------------------------------------*/
.spin-loading {
    display: flex;
    justify-content: center;
    margin: 3vh 0;
}


/*------------------------------------------
Title
------------------------------------------*/
.title {
    margin-bottom: 1%;
    text-align: center;
}

.title > img {
    width: 80%;
}


/*------------------------------------------
Render players
------------------------------------------*/
.render-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    gap: 25px;
    height: fit-content;
    transition: all 1s ease;
}

.box-player{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.player {
    width: 250px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-size: 1.6rem;
    transition: all 1.5s ease;
}

.player:hover {
    background-color: #eed7b3;
}

.player, .player-card, .team-card {
    background: #fafafa;
    border-radius: 15px;
}


/*------------------------------------------
Player
------------------------------------------*/
.player-card, .team-card {
    height: fit-content;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.player-card {
    min-width: 25%;
    padding: 20px;
}

.player-card > h1, .team-card > h1 {
    text-align: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5%;
}

.player-card > p {
    text-align: center;
}

span {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
}


/*------------------------------------------
Team
------------------------------------------*/
.team-card {
    min-width: 25vw;
    padding: 5px 12px;
    margin: 3vh auto;
}

.team-card > p {
    text-align: center;
}

.team-card > div {
    text-align: center;
    padding: 2vh 0;
}

.box {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}


/*------------------------------------------
Footer
------------------------------------------*/
.footer {
    margin-bottom: 5%;
    color: white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}